<tr>
  <td><%= request.trap_id %></td>
  <td><ul>
    <% request.data.each do |k, v| %>
        <li><b><%=k%></b>:<%=v%> </li>
    <% end %>
  </ul></td>
  <td><%= link_to 'Show', request_path(request.trap_id, request.id) %></td>
</tr>