<script type="text/javascript">
  window.trap_id = '<%=params[:trap_id]%>';
</script>
<h1><%=params[:trap_id]%></h1>

<table>
  <thead>
    <tr>
      <th>Trap</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <%= render partial: 'requests/request', locals: {request: request} %>
    <% end %>
  </tbody>
</table>
