<h1>Listing requests</h1>

<table>
  <thead>
    <tr>
      <th>Trap</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.trap_id %></td>
        <td><ul>
          <% request.data.each do |k, v| %>
            <li><b><%=k%></b>:<%=v%> </li>
          <% end %>
        </ul></td>
        <td><%= link_to 'Show', request_path(request.trap_id, request.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
